*,
::after,
::before{
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.title {
    font-size: 40px;
    padding : 5px 20px;
    border: solid 2px black;
    border-radius: 20px;
    margin-top :4vh;
    margin-bottom : 4vh;

}

.container{
    display: flex;
    justify-content: center;
}


.container.menue{
    height : 70vh;
    flex-direction: column;
    gap:50px;
    justify-content: flex-start;
    align-items: center;

}

.button {
    background:linear-gradient(90deg,blue,white);
    padding:5px 20px;
    width : fit-content;
    border-radius: 20px;
    font-size: medium;
}